---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app openwebui
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: csi-driver-cephfs
      namespace: storage
  values:
    controllers:
      openwebui:
        annotations:
          reloader.stakater.com/auto: 'true'

        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: 0.6.43
              pullPolicy: IfNotPresent

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            env:
              ENABLE_OAUTH_SIGNUP: "true"
              ENABLE_LITELLM: "false"
              OAUTH_MERGE_ACCOUNTS_BY_EMAIL: "true"

            envFrom:
              - secretRef:
                  name: openwebui-secrets
              - secretRef:
                  name: ${APP}-db-secret

    service:
      app:
        controller: openwebui
        ports:
          http:
            port: &port 8080
    route:
      app:
        enabled: true
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
          - "ai.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        enabled: true
        existingClaim: openwebui-data
        globalMounts:
          - path: /app/backend/data
