---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stash
  namespace: cloud
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: csi-driver-cephfs
      namespace: storage
  values:
    controllers:
      stash:
        annotations:
          reloader.stakater.com/auto: 'true'

        containers:
          app:
            image:
              repository: stashapp/stash
              tag: v0.29.3
              pullPolicy: IfNotPresent

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            env:
              TZ: ${TIMEZONE}
              STASH_STASH: /data/
              STASH_GENERATED: /generated/
              STASH_METADATA: /metadata/
              STASH_CACHE: /cache/
              STASH_PORT: &port 80
    service:
      app:
        controller: stash
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        loadBalancerIP: ${STASH_ADDR}
        ports:
          http:
            port: *port

    persistence:
      config:
        enabled: true
        existingClaim: stash-config
        globalMounts:
          - path: /root/.stash
      data:
        enabled: true
        existingClaim: stash-data
        globalMounts:
          - path: /data
      metadata:
        enabled: true
        existingClaim: stash-metadata
        globalMounts:
          - path: /metadata
      cache:
        enabled: true
        existingClaim: stash-cache
        globalMounts:
          - path: /cache
      blobs:
        enabled: true
        existingClaim: stash-blobs
        globalMounts:
          - path: /blobs
      generated:
        enabled: true
        existingClaim: stash-generated
        globalMounts:
          - path: /generated


