---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app tautulli
  namespace: media
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: csi-driver-cephfs
      namespace: storage
    - name: csi-driver-smb
      namespace: storage
  values:
    controllers:
      arr:
        pod:
          securityContext:
            runAsUser: ${PUID}
            runAsGroup: ${PGID}
            runAsNonRoot: true
            fsGroup: ${PGID}
            fsGroupChangePolicy: OnRootMismatch

        containers:
          main:
            image:
              repository: ghcr.io/home-operations/tautulli
              tag: 2.16.0@sha256:2a092f86a51f5718111097b0fced33eaa876b5904a543b7504f92357a4f75635
            env:
              TZ: ${TIMEZONE}
              TAUTULLI_HTTP_BASE_URL: http://tautulli.${SECRET_DOMAIN_LOCAL}
              TAUTULLI_HTTP_PORT: &port 80
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 2048Mi
    service:
      main:
        controller: arr
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        loadBalancerIP: ${TAUTULLI_ADDR}
        ports:
          http:
            port: *port
    # ingress:
    #   main:
    #     enabled: true
    #     className: internal
    #     annotations:
    #       #External-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
    #       hajimari.io/icon: movie-filter
    #     hosts:
    #       - host: &host "tautulli.${SECRET_DOMAIN_LOCAL}"
    #         paths:
    #           - path: /
    #             service:
    #               identifier: main
    #               port: http
    #     #tls:
    #     #  - hosts:
    #     #      - *host
    persistence:
      config:
        enabled: true
        existingClaim: tautulli-config
        globalMounts:
          - path: /config
      tmp:
        type: emptyDir
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
