---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app audiobookshelf
  namespace: media
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: csi-driver-cephfs
      namespace: storage
    - name: csi-driver-smb
      namespace: storage
  values:
    controllers:
      abs:
        pod:
          securityContext:
            runAsUser: ${PUID}
            runAsGroup: ${PGID}
            runAsNonRoot: true
            fsGroup: ${PGID}
            fsGroupChangePolicy: OnRootMismatch

        containers:
          main:
            image:
              repository: ghcr.io/advplyr/audiobookshelf
              tag: 2.32.1
            env:
              TZ: ${TIMEZONE}
              AUDIOBOOKSHELF_UID: ${PUID}
              AUDIOBOOKSHELF_GID: ${PGID}
              CONFIG_PATH: /config
              METADATA_PATH: /config/metadata
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 4096i
    service:
      main:
        controller: abs
        ports:
          http:
            port: &port 80
    route:
      abs:
        enabled: true
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *port


    persistence:
      config:
        enabled: true
        existingClaim: audiobookshelf-config
        globalMounts:
          - path: /config
      cache:
        type: emptyDir
        globalMounts:
          - path: /.npm
      tmp:
        type: emptyDir
      lcl:
        enabled: true
        existingClaim: lcl
        globalMounts:
          - path: /media
      downloads:
        enabled: true
        existingClaim: lcl-downloads
        globalMounts:
          - path: /downloads
