---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mealie
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: csi-driver-cephfs
      namespace: storage
  values:
    controllers:
      mealie:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: ${PUID}
            runAsGroup: ${PGID}
            runAsNonRoot: true
            fsGroup: ${PGID}
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.7.0
            env:
              TZ: ${TIMEZONE}
              PUID: ${PUID}
              PGID: ${PGID}
              ALLOW_SIGNUP: "false"
              BASE_URL: https://mealie.${SECRET_DOMAIN}
              # Database Settings
              DB_ENGINE: postgres
              POSTGRES_USER:
                valueFrom:
                  secretKeyRef:
                    name: ${DB_USER}-db-secret
                    key: POSTGRES_USER
              POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: ${DB_USER}-db-secret
                    key: POSTGRES_PASS
              POSTGRES_SERVER:
                valueFrom:
                  secretKeyRef:
                    name: ${DB_USER}-db-secret
                    key: POSTGRES_HOST
              POSTGRES_PORT: 5432
              POSTGRES_DB: ${DB_NAME}
              # Auth Settings
              OIDC_AUTH_ENABLED: true
              OIDC_PROVIDER_NAME: authentik
              OIDC_REMEMBER_ME: true
              OIDC_SIGNUP_ENABLED: true
              OIDC_CONFIGURATION_URL: https://auth.${SECRET_DOMAIN}/application/o/mealie/.well-known/openid-configuration
              OIDC_USER_CLAIM: preferred_username
              OIDC_GROUPS_CLAIM: groups
              OIDC_ADMIN_GROUP: "mealie Admins"
              OIDC_AUTO_REDIRECT: true
              OPENAI_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: mealie-secrets
                    key: OPENAI_API_KEY
              OIDC_CLIENT_ID:
                valueFrom:
                  secretKeyRef:
                    name: mealie-secrets
                    key: OIDC_CLIENT_ID
              OIDC_CLIENT_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: mealie-secrets
                    key: OIDC_CLIENT_SECRET

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 18m
                memory: 128Mi
              limits:
                memory: 1000M
    service:
      app:
        controller: mealie
        ports:
          http:
            port: &port 9000

    route:
      app:
        enabled: true
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        existingClaim: mealie-data
        globalMounts:
          - path: /app/data
