---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2025.12.1
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      image:
        repository: ghcr.io/goauthentik/server
        tag: 2025.12.1
        pullPolicy: IfNotPresent

      podAnnotations:
        secret.reloader.stakater.com/reload: *app

      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: authentik-media

      volumeMounts:
        - mountPath: /data/media
          name: media

      env:
        - name: AUTHENTIK_POSTGRESQL__HOST
          valueFrom:
            secretKeyRef:
              name: ${DB_USER}-db-secret
              key: POSTGRES_HOST
        - name: AUTHENTIK_POSTGRESQL__NAME
          valueFrom:
            secretKeyRef:
              name: ${DB_USER}-db-secret
              key: POSTGRES_DBNAME
        - name: AUTHENTIK_POSTGRESQL__USER
          valueFrom:
            secretKeyRef:
              name: ${DB_USER}-db-secret
              key: POSTGRES_USER
        - name: AUTHENTIK_POSTGRESQL__PASSWORD
          valueFrom:
            secretKeyRef:
              name: ${DB_USER}-db-secret
              key: POSTGRES_PASS
        - name: AUTHENTIK_EMAIL__HOST
          valueFrom:
            secretKeyRef:
              name: authentik-secret
              key: authentik_email_host
        - name: AUTHENTIK_EMAIL__FROM
          secretKeyRef:
            name: authentik-secret
            key: authentik_email_from
        - name: AUTHENTIK_EMAIL__USERNAME
          valueFrom:
            secretKeyRef:
              name: authentik-secret
              key: authentik_email_username
        - name: AUTHENTIK_EMAIL__PASSWORD
          valueFrom:
            secretKeyRef:
              name: authentik-secret
              key: authentik_email_password
        - name: AUTHENTIK_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: authentik-secret
              key: authentik_secret_key

    authentik:
      log_level: info
      email:
        port: &port 587
        use_tls: true
      secret_key: "${SECRET_AUTHENTIK_KEY}"
      outposts:
        container_image_base: ghcr.io/goauthentik/%(type)s:%(version)s
      error_reporting:
        enabled: false
        send_pii: false

    server:
      replicas: 1
      autoscaling:
        enabled: true
      pdb:
        enabled: false

      route:
        main:
          enabled: true
          hostnames:
            - "auth.${SECRET_DOMAIN}"
            - "deluge.${SECRET_DOMAIN}"
            - "frigate.${SECRET_DOMAIN}"
            - "lidarr.${SECRET_DOMAIN}"
            - "kiptavern.${SECRET_DOMAIN}"
            - "prowlarr.${SECRET_DOMAIN}"
            - "radarr.${SECRET_DOMAIN}"
            - "readarr.${SECRET_DOMAIN}"
            - "readarr-audio.${SECRET_DOMAIN}"
            - "sab.${SECRET_DOMAIN}"
            - "shlink.${SECRET_DOMAIN}"
            - "slskd.${SECRET_DOMAIN}"
            - "sonarr.${SECRET_DOMAIN}"
            - "sillytavern.${SECRET_DOMAIN}"
            - "teslamate.${SECRET_DOMAIN}"
          annotations:
            external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
          parentRefs:
            - name: external
              namespace: kube-system
              sectionName: https
          rules:
            - filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  add:
                    - name: X-Frame-Options
                      value: SAMEORIGIN
            - backendRefs:
                - identifier: app
                  port: *port

    worker:
      replicas: 1
      pdb:
        enabled: false
      autoscaling:
        enabled: true
      resources:
        requests:
          cpu: 50m
          memory: 512Mi
        limits:
          memory: 2Gi

    postgresql:
      enabled: false

    prometheus:
      rules:
        enabled: true

    redis:
      enabled: false

    serviceAccount:
      # -- Create service account. Needed for managed outposts
      create: true

    kubernetesIntegration: true
