---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homebox
  namespace: home
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: csi-driver-cephfs
      namespace: storage
  values:
    controllers:
      homebox:
        annotations:
          reloader.stakater.com/auto: 'true'

        containers:
          app:
            image:
              repository: ghcr.io/sysadminsmedia/homebox
              tag: 0.22.3
              pullPolicy: IfNotPresent

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            env:
              TZ: "${TIMEZONE}"
              HBOX_LOG_LEVEL: info
              HBOX_LOG_FORMAT: text
              HBOX_WEB_HOST: 0.0.0.0
              HBOX_WEB_PORT: &port 7745
              HBOX_MEB_MAX_UPLOAD_SIZE: 50
              HBOX_DATABASE_DRIVER: postgres
              HBOX_DATABASE_HOST:
                valueFrom:
                  secretKeyRef:
                    name: ${DB_USER}-db-secret
                    key: POSTGRES_HOST
              HBOX_DATABASE_PORT:
                valueFrom:
                  secretKeyRef:
                    name: ${DB_USER}-db-secret
                    key: POSTGRES_PORT
              HBOX_DATABASE_DATABASE:
                valueFrom:
                  secretKeyRef:
                    name: ${DB_USER}-db-secret
                    key: POSTGRES_DBNAME
              HBOX_DATABASE_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: ${DB_USER}-db-secret
                    key: POSTGRES_USER
              HBOX_DATABASE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: ${DB_USER}-db-secret
                    key: POSTGRES_PASS
            envFrom:
              - secretRef:
                  name: homebox-secrets

    service:
      app:
        controller: homebox
        ports:
          http:
            port: *port
    route:
      app:
        enabled: true
        hostnames:
          - homebox.${SECRET_DOMAIN}
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: homebox-config
        globalMounts:
          - path: /data
