kubernetes-talos10011.yaml
kubernetes-talos10012.yaml
kubernetes-talos10013.yaml
kubernetes-talos10014.yaml
kubernetes-talos10015.yaml
kubernetes-talos10016.yaml
kubernetes-talos10017.yaml
kubernetes-talos10018.yaml
kubernetes-talos10019.yaml
talosconfig
