---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app discoverylastfm
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: csi-driver-cephfs
      namespace: storage
    - name: csi-driver-smb
      namespace: storage
  values:
    controllers:
      arr:
        pod:
          securityContext:
            runAsUser: ${PUID}
            runAsGroup: ${PGID}
            runAsNonRoot: true
            fsGroup: ${PGID}
            fsGroupChangePolicy: OnRootMismatch
        containers:
          main:
            image:
              repository: mrrobotogit/discoverylastfm
              tag: v2.1.0
            env:
              MUSIC_SERVICE: lidarr
              LIDARR_ROOT_FOLDER: /lcl/music
              LIDARR_QUALITY_PROFILE_ID: 2
              LIDARR_METADATA_PROFILE_ID: 1

            envFrom:
              - secretRef:
                  name: ${APP}-secret

            resources:
              requests:
                cpu: 18m
                memory: 128Mi
              limits:
                memory: 4096Mi
    service:
      main:
        controller: arr
        ports:
          http:
            port: &port 80
    # route:
    #   main:
    #     enabled: true
    #     hostnames:
    #       - "{{ .Release.Name }}.${SECRET_DOMAIN_LOCAL}"
    #     parentRefs:
    #       - name: internal
    #         namespace: kube-system
    #         sectionName: https

    persistence:
      config:
        enabled: true
        existingClaim: discoverylastfm-config
        globalMounts:
          - path: /app/config
      tmp:
        type: emptyDir
      logs:
        enabled: true
        existingClaim: discoverylastfm-logs
        globalMounts:
          - path: /app/logs
