---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pocket-id
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: csi-driver-cephfs
      namespace: storage

  values:
    controllers:
      pocket-id:

        containers:
          app:
            image:
              repository: ghcr.io/pocket-id/pocket-id
              tag: v2.1.0
            env:
              DB_CONNECTION_STRING: file:/app/data/pocket-id.db?_journal_mode=WAL&_busy_timeout=2500&_txlock=immediate
              APP_URL: &host https://id.${SECRET_DOMAIN}
              TRUST_PROXY: true
              TZ: ${TIMEZONE}
              UPLOAD_PATH: /app/data/uploads
              ENCRYPTION_KEY:
                valueFrom:
                  secretKeyRef:
                    name: pocket-id-secret
                    key: ENCRYPTION_KEY

    defaultPodOptions:
      securityContext:
        runAsUser: ${PUID}
        runAsGroup: ${PGID}
        fsGroup: ${PGID}
        fsGroupChangePolicy: "OnRootMismatch"
    service:
      app:
        controller: pocket-id
        ports:
          http:
            port: &port 1411
    route:
      app:
        enabled: true
        hostnames:
          - id.${SECRET_DOMAIN}
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: pocket-id
        globalMounts:
          - path: /app/data
      var:
        type: emptyDir
        sizeLimit: 1Gi

    resources:
      requests:
        cpu: 20m
        memory: 128M
      limits:
        memory: 512M
